.user-card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 40px;
    max-width: 300px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
    background-color: #c4eca3;
    text-align: center;
    margin: 20px auto;
    
}

.user-card img{
    width: 100%;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
     
}

.user-card button{
    padding: 10px 15px;
    background-color: #61a728;
    color: rgb(3, 86, 16);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}